body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
  color: #0d0d0d;
}
main {
  width: 600px;
  height: 800px;
  margin: auto;

}
#field {
  width: 600px;
  height: 600px;
  margin: auto  -3px;
  background-color: #000;
  border: 3px solid  #fff;
}

.inputWrapper {
  width: 600px;
  height: 50px;
  float: left;
  margin: 0;
  box-sizing: border-box;
}
.inputWrapper > form > input {
  width: calc(100% - 100px);
  height: 50px;
  float: left;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
}
.inputWrapper > form > button {
  width: calc( 100px);
  height: 50px;
  float: left;
  margin: 0;
  box-sizing: border-box;
}


#autoOptions {
  color: #fff
}
.optionItem {
  border: 3px solid #fff;
  padding: 10px;
  color: #fff;
  float: left;
  margin: 5px
}

.tile {
  background-color:  #eee;
  width: 60px;
  height: 60px;
  box-sizing: border-box;
  float: left;
  display: block;
  border: 1px solid #fff;
}

.character {
  background-color: #000;
}
.sea.full {
  background-color: darkblue;
}
.sea.empty {
  background-color: aqua;
}
.tree.full {
  background-color: darkolivegreen;
}
.tree.empty {
  background-color: brown;
}
